body{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    color: black;
    
}


header {
    display: flex;
    justify-content:space-between;
    color: black;  
    padding:5px;
    margin: 5px 20px 5px 20px;
}
main{
    align-items: center;
    height: 500px;
    
}

.container{
    border: 1px solid black;
    border-radius: 15px;
    height: 400px;
    margin: 50px 150px 0px 150px;
    text-align: center;
    background-color: rgb(219, 219, 243);
    padding: 10px;
    
}
.first-page{
    height:300px;
}

#questions{
    margin:30px;
    font-size: 30px;
    font-weight: bolder;

}

.answer-btns {
    display:flex;
    gap:10px;
    margin: 2px 0;
    display: flex;
    flex-direction: column;
    
}

.ans-btn{
    background-color: rgb(131, 160, 212);
    border-radius: 10px;
    display: inline-block;
    width: fit-content;
    height: 40px;
    
}

.controls{

    margin-top:15px;
    display:flex;
    justify-content: center;
}

.start-btn,.submit-btn{
    border: solid black 1px;
    border-radius: 10px;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;

}

.hidden{
    display: none;
}

#correct-answer{
    float: left;
    font-weight: bolder;

    display:none;
}

#score{

display:none;
}

.ans-btn:hover{
    background-color: aqua;

}
